<!doctype html>
<html>
<head>
    <title>NeoPixel Controller</title>
    <link rel='stylesheet' href='/bootstrap.min.css'>
    <link rel='stylesheet' href='/style.css'>
    <script src='/vue.js'></script>
    <script src='/jquery.min.js'></script>
    <script src='/bootstrap.min.js'></script>
</head>
<body class='container'>
    <h1>NeoPixel Controller</h1>
    <div id='form'>
        <div class='btn-group'>
            <button v-for='(modeData, mode) in modes' v-bind:key='mode'
                class='btn btn-default' v-bind:class='{active: currentMode == mode}'
                v-on:click='currentMode = mode'>{{ mode }}</button>
        </div>

        <module-fade v-if='currentMode == "Fade"'
            v-bind:initial-props='modes.Fade'></module-fade>
        <module-wipe v-if='currentMode == "Wipe"'
            v-bind:initial-props='modes.Wipe'></module-wipe>
        <module-marquee v-if='currentMode == "Marquee"'
            v-bind:initial-props='modes.Marquee'></module-marquee>
        <module-rainbow v-if='currentMode == "Rainbow"'
            v-bind:initial-props='modes.Rainbow'></module-rainbow>
        <module-pulse v-if='currentMode == "Pulse"'
            v-bind:initial-props='modes.Pulse'></module-pulse>

        <button class='btn'>Send</button>
    </div>
    <script src='/vscript.js'></script>
</body>
</html>
